$breakpoints: (
  'tablet': 768px,
  'mobile': 480px,
);

@mixin tablet {
  @media (max-width: map-get($breakpoints, 'tablet')) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: map-get($breakpoints, 'mobile')) {
    @content;
  }
}
