@import './base';

.home {
  @include tablet {
    text-align: center;
    background: url('../../public/assets/home/background-home-tablet.jpg')
      $bg-color;
  }

  @include mobile {
    background: url('../../public/assets/home/background-home-mobile.jpg')
      $bg-color;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3rem;
  }
  background: url('../../public/assets/home/background-home-desktop.jpg')
    $bg-color;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: $text-color;

  .hero {
    @include tablet {
      gap: 4rem;
    }
    width: 100%;
    padding-top: 14%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

    .hero-text {
      animation: fade-up 0.5s ease-in-out;
      padding-left: 1rem;

      .big-text {
        @include tablet {
          font-size: 20px;
          line-height: 24px;
          letter-spacing: 3.375px;
        }
        @include tablet {
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 2.7px;
        }
        text-transform: uppercase;
        font-family: 'Barlow condensed', sans-serif;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 4.725px;
      }

      h1 {
        @include tablet {
          line-height: 150px;
        }
        @include mobile {
          font-size: 80px;
          line-height: 100px;
        }

        text-transform: uppercase;
        font-family: 'Bellefair', sans-serif;
        font-size: 150px;
        font-weight: 400;
        line-height: 172px;
        color: $heading-color;
        padding: 1rem 0 2rem 0;
      }

      .text {
        @include tablet {
          font-size: 16px;
          line-height: 28px;
        }

        @include tablet {
          font-size: 15px;
          line-height: 25px;
        }
        font-family: 'Barlow', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 178%;
        max-width: 453px;
      }
    }

    .main-button {
      @include tablet {
        padding: 102px 48px;
      }
      @include tablet {
        margin-top: 2rem;
        padding: 64px 28px;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 1.25px;
      }
      animation: grow 0.5s ease-in-out;
      text-transform: uppercase;
      font-family: 'Bellefair', sans-serif;
      font-weight: 400;
      font-size: 32px;
      letter-spacing: 2px;
      color: $bg-color;
      padding: 118px 62px;
      margin: 10px;
      border: none;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 100px #777;
      }
    }
  }
}
