@import '_base';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-width: 370px;
}

.active-btn {
  text-decoration: underline;
}

.dot {
  padding: 0;
  font-size: 3rem;
  color: #aaa;
  cursor: pointer;

  &:hover {
    color: #ccc;
  }
}

.active-dot {
  color: #eee;

  &:hover {
    color: #eee;
  }
}

.active-tech-btn {
  background: #fff;
}
