@import './base';

.hide {
  display: none;
}

nav {
  @include tablet {
    top: 0;
  }
  max-width: 100%;
  font-family: 'Barlow condensed', sans-serif;
  background: transparent;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  top: 2.4rem;
  justify-content: space-between;

  .logo {
    margin: 0 2.6rem;
  }

  .line {
    @include tablet {
      width: 0;
    }
    border-top: 1px solid #666;
    position: absolute;
    right: 54%;
    z-index: 4;
    width: 31%;
  }

  .navbar {
    @include tablet {
      width: 65%;
    }
    width: 55%;
    background: rgba(177, 177, 177, 0.158);
    padding: 0 4.5rem 0 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    backdrop-filter: blur(14px);

    .navbar-link {
      font-size: 15px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 2.4px;

      border-bottom: 3px solid transparent;
      padding: 2rem 0.2rem;
      text-decoration: none;
      color: $heading-color;
      display: flex;
      gap: 0.5rem;

      .bold {
        font-weight: 700;
      }

      &:hover {
        border-bottom: 3px solid #979797;
      }
    }
  }
}
