@import './base';

.technologies-page {
  background: url('../../public/assets/technology/background-technology-desktop.jpg')
    $bg-color;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-height: 100vh;
  color: $text-color;
  padding: 12% 0 6% 14%;

  @media (max-width: 1400px) {
    padding: 24% 0 6% 2%;
  }

  h2 {
    @include heading;
    margin-bottom: 3%;
  }

  .technologies {
    display: flex;
    align-items: center;

    .choose-technology-btns {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .change-technology-btn {
        @media (max-width: 1400px) {
          padding: 10px 22px;
        }

        font-family: 'Bellefair';
        font-weight: 400;
        font-size: 32px;
        line-height: 37px;
        letter-spacing: 2px;
        border-radius: 50%;
        padding: 20px 32px;
        border: 1px solid #666;
        background: #0b0d17;
        color: #fff;
        cursor: pointer;

        &:hover {
          border: 1px solid #fff;
        }
      }

      .active-tech-btn {
        background: #fff;
        color: #0b0d17;
      }
    }

    .technology {
      display: flex;
      align-items: center;

      .technology-info {
        padding: 0 6%;

        @media (max-width: 1400px) {
          padding: 0 2%;
        }

        .terminalogy-text {
          text-transform: uppercase;
          font-family: 'Barlow Condensed';
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 2.7px;
        }

        h2 {
          @media (max-width: 1400px) {
            font-size: 44px;
          }
          font-family: 'Bellefair';
          font-weight: 400;
          font-size: 56px;
          line-height: 64px;
        }

        .technology-description {
          @media (max-width: 1400px) {
            width: 95%;
          }
          width: 55%;
          font-family: 'Barlow';
          font-weight: 400;
          font-size: 18px;
          line-height: 32px;
        }
      }

      .technology-image {
        img {
          @media (max-width: 1400px) {
            height: 22rem;
          }
        }
      }
    }
  }
}
