@import './base';

.technologies-page {
  background: url('../../public/assets/technology/background-technology-desktop.jpg')
    $bg-color;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-height: 100vh;
  color: $text-color;
  padding: 12% 0 6% 14%;

  @media (max-width: 1400px) {
    padding: 24% 0 6% 2%;
  }

  @include tablet {
    background: url('../../public/assets/technology/background-technology-tablet.jpg')
      $bg-color;
    padding: 14% 0 1% 0;
  }

  @include mobile {
    background: url('../../public/assets/technology/background-technology-mobile.jpg')
      $bg-color;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .tech-heading {
    @include heading;
    animation: fade-up 1s ease-in-out;

    @include tablet {
      margin-left: 1rem;
    }

    @include mobile {
      margin: 5rem 0 0.4rem 0;
    }
  }

  .technologies {
    display: flex;
    align-items: center;
    @include tablet {
      flex-direction: column;
    }

    .choose-technology-btns {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @include tablet {
        flex-direction: row;
        margin: 2rem 0;
      }

      .change-technology-btn {
        @media (max-width: 1400px) {
          padding: 10px 22px;
        }

        @include tablet {
          font-size: 24px;
          line-height: 27px;
          padding: 18px 26px;
        }

        @include mobile {
          font-size: 16px;
          line-height: 18px;
          letter-spacing: 1px;
        }

        font-family: 'Bellefair', sans-serif;
        font-weight: 400;
        font-size: 32px;
        line-height: 37px;
        letter-spacing: 2px;
        border-radius: 50%;
        padding: 20px 32px;
        border: 1px solid #666;
        background: #0b0d17;
        color: #fff;
        cursor: pointer;

        &:hover {
          border: 1px solid #fff;
        }
      }

      .active-tech-btn {
        background: #fff;
        color: #0b0d17;
      }
    }

    .technology {
      display: flex;
      align-items: center;

      @include tablet {
        flex-direction: column-reverse;
        margin-top: 1rem;
      }

      .technology-info {
        padding: 0 6%;

        @media (max-width: 1400px) {
          padding: 0 2%;
        }

        @include tablet {
          margin-top: 5%;
          text-align: center;
        }

        .terminalogy-text {
          animation: fade-down 0.8s ease-in-out;
          text-transform: uppercase;
          font-family: 'Barlow Condensed', sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 2.7px;

          @include mobile {
            margin-top: 2rem;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 2.4px;
          }
        }

        h2 {
          @media (max-width: 1400px) {
            font-size: 44px;
          }

          @include tablet {
            font-size: 40px;
            line-height: 46px;
          }

          @include mobile {
            font-size: 24px;
            line-height: 28px;
          }

          animation: fade-down 0.8s ease-in-out;
          padding: 1rem 0;
          color: $heading-color;
          text-transform: uppercase;
          font-family: 'Bellefair', sans-serif;
          font-weight: 400;
          font-size: 56px;
          line-height: 64px;
        }

        .technology-description {
          @media (max-width: 1400px) {
            width: 95%;
          }

          @include tablet {
            font-size: 16px;
            line-height: 28px;
            padding: 0 10%;
          }

          @include mobile {
            font-size: 15px;
            line-height: 25px;
          }

          animation: fade-up 0.8s ease-in-out;
          width: 55%;
          font-family: 'Barlow', sans-serif;
          font-weight: 400;
          font-size: 18px;
          line-height: 32px;
        }
      }

      .technology-image {
        img {
          @media (max-width: 1400px) {
            height: 22rem;
          }

          @include tablet {
            height: 20rem;
            max-width: 100vw;
          }

          @include mobile {
            height: 170px;
          }
        }
      }
    }
  }
}
